@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf')  format('truetype')
}

:root {    
  --topbar-height: 2rem;
  --breadcrumbs-height: 2.5rem;
  --main-color: #0f54ef;
  --main-color-hovered: #4f81f5;
  --secondary-color: #D9F6F7;
  --white-color: #fbfcfc;
  --dark-color: #08308d;
  --black-color: #021338;
  --accent-color: #259294; 
  --success-color: #00A773; 
  --danger-color: #DA0027;

  font-family: Poppins;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  user-select: none !important;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
 

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
  transition: all .2s ease-in-out;
}

a:hover {
  color: var(--main-color-hovered);
  
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--main-color);
}
button:active {
  border-color: var(--main-color-hovered);
  background-color: var(--secondary-color);
}

input,
button {
  outline: none;
}
 
.view-container {
  padding: 2rem;
  padding-left: 1.25rem;
  display: block;
  min-height: calc(100vh - 6rem);
  width: calc(100vw - 2rem);
  margin: auto;
  border-radius: 1rem; 

}
.view-subtitle {
  font-size: 1rem;
}

 